.main {
  width: 100%;
  max-width: 1440px;
}

.first_container {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  padding: 24px 0px;
  box-sizing: border-box;
}
.title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #000000;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 70px;
  gap: 64px;
}
.card {
  width: 260px;
  text-align: center;
  font-family: 'Roboto';
}
.icon {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.card h2 {
  font-size: 22px; 
  font-weight: 600; 
  font-family: 'Manrope';
  margin-bottom: 15px;
}
.card p {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 26px;
  margin:0px;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: auto;
    margin: 24px 12px;
  }
  .first_container {
    height: auto;
  }
  .main {
    margin: 120px 0;
  }
}
/* @media (max-height:411px) {
  .first_container {
    height: unset;
    padding: 60px 0px;
  }
} */