.container {
  display: grid;
  min-height: 100vh;
  margin: auto;
  padding: 0 clamp(12px ,3.3334%, 48px);
  background: #151515;
}
.main {
  width: 100%;
  max-width: 878px;
  color: #FFFFFF;
  display: grid;
  font-family: 'Poppins';
  margin: auto;
  height: 100%;
  align-items: end;
  grid-template-rows: 1fr auto;
  /* gap: 6%; */
}

.title {
  max-width: 557px;
  color: #222831;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(3.75rem, 3.0851rem + 2.1277vw, 5rem);
  line-height: 95px;
  text-align: start;
  letter-spacing: -0.01em;
  flex: 1;
  color: #fff;  
}
.contentwrap {
  align-self: center;
  padding-right: 8px;
}
.flex {
  display: grid;
  grid-template-columns: 1fr minmax(0, 176px);
}
.card {
  width: 314px;
  height: 314px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  flex-direction: column;
}


.card p {font-size: 16px; font-weight: 500; color: #61646B; margin: 0;
}
.card h2 {font-size: 62px; font-weight: 700; color: #222831; margin:0; margin-bottom: 18px;
}
.desc {
  color: #6A6A6A;
  max-width: 497px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  margin-top: 20px;
}
.button {
  background: #FF6652;
  border-radius: 8px;
  color:#fff;
  padding: 20px 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  width: 100%;
  align-self: end;
  border-style: none;
}
.menuwrapper {
  display: grid;
  text-align: center;
  align-items: end;
  grid-auto-flow: column;
  justify-content: space-between;
  font-family: 'Roboto';
}
.footer {
  margin-top: 2.392%;
}
.footeraction {
  display: grid;
  color: #959595;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  margin-bottom: 60px;
  grid-gap: calc(106/878 * 100%);
}
.copyright {
  margin: 3.873% 0px 9.6812% 0px;
  color: #4F4F4F;
  text-align: center;
  font-size: 0.75rem;
  font-family: 'Roboto';
}
.iconbutton {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 30px;
  min-width: 24px;
  text-align: center;
  max-height: 12px;
  justify-content: center;
  cursor: pointer;

}

.iconbutton:hover {
  opacity: 0.3;
}
.iconlist {
  width: 88px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.menuitem:hover {
  color: #4F4F4F;
  transition: color 0.3 linear;
  cursor: pointer;
}
.menuitem {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #959595;
}
@media (max-width: 768px) {
  .container {
    /* height: auto; */
  }
  .flex {
    display: grid;
    grid-template: 1fr 1fr/ 1fr;
    grid-gap: 24px;
  }
  .card {
    width: auto;
    margin: 24px 12px;
  }
  .iconlist {
    margin-bottom: 16px;
  }
  .footeraction {
  grid-template-rows: auto 1fr auto;
  grid-template-columns: unset;
  }
  .menuwrapper {
    margin: 12px 0px;
    grid-auto-flow: row;
    justify-content: center;
    gap: 24px;
  }
  .iconlist {
    margin: auto;
  }
  .button {
    max-width: 100%;
    margin-top: 12px;
  }
  .footer {
    margin-top: 32px;
  }
}